<div id="contact">
<h1>Contact and Support</h1>

<h3>Location</h3>
	<p>Kopenicker Str. 126</p>
	<p>10179 Berlin, Germany</p>
	<p>049.30.555.1234</p>
	<p>contact@bikeberlin.com</p>

<h3>Hours</h3>
	<p>Everyday: 12PM-7PM</p>
</div>

<div id="contact-form">	
<h1>Contact Us</h1>
<%= flash[:notice] %>
<%= form_tag("/static_pages/thank_you") do %>
	<div class="row">
		<div class="col-md">
			<div class="form-group">
				<%= label_tag :name %>
				<%= text_field_tag :name, nil, class: "form-control", placeholder:"Enter Name" %>
			</div> <!-- end Name form-group -->	
			<div class="form-group">
				<%= label_tag :email, "Email Address" %>
				<%= text_field_tag :email, nil, class: "form-control", placeholder: "Enter Email" %>
			</div> <!-- end Email form-group	 -->
			<div class="form-group">
				<%= label_tag :message %>
				<%= text_area_tag :message, nil, class: "form-control", placeholder: "Enter Message" %>
			</div> <!-- end Message form-group -->	
		</div> <!-- end col -->	
	</div> <!-- end row -->	
	<%= submit_tag "Send", class: "btn btn-default submit-button" %>
	<% end %>
	</div>
