<h2>Featured Product:</h2>
<br>
<br>
<%= @featured_product.name %>
<br> 
<%= image_tag(@featured_product.image_url, class: "img-responsive") %>
<%= @featured_product.description %>
<br>
<%= @featured_product.price %>
<br>
<%= @featured_product.colour %>
<br>