<p id="notice"><%= notice %></p>

<h1>Products</h1>

<%= link_to 'New Product', new_product_path %>

<div class="container">
  <div class="row">
    <% @products.each do |product| %>
      <div class="col-sm-2 col-md-4">
      <%= product.name %>
       <%= image_tag(product.image_url, class: "img-responsive") %>      
        <a href="#"><h1>Bike 1</h1></a>
      <%= product.description %> 
      <td><%= link_to 'Show', product %></td> 
      <td><%= link_to 'Edit', edit_product_path(product) %></td>
      <td><%= link_to 'Destroy', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
      </div> <!-- end col -->
    
  </div> <!-- end row -->
  
</div> <!-- end container -->

