<p id="notice"><%= notice %></p>
<p>
  <strong>Name:</strong>
  <%= @product.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @product.description %>
</p>

<p>
  <strong>Image url:</strong>
  <%= image_tag(@product.image_url, class: "img-fluid show-img") %>
</p>

<p>
	<strong>Colour:</strong>
	<%= @product.colour %>
</p>

<p>
	<strong>Price:</strong>
	<%= @product.price %>
</p>

<%= form_tag "/payments/create" do |form| %>
  <%= render partial: "shared/stripe_checkout_button" %>
<% end %>  

<p>Average Rating:</p>
  <div class="rated" data-score="<%= @product.average_rating %>"></div> 

<%= render 'new_comment' %>
<%= render 'comments' %>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>